<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>자 이제 시작이야</title>
		<style>
		    video {
		       width: 640px;
		       height: 360px;
		    }
		</style>
	</head>
	<body>
        <div>
            <video id="videoPlayer" controls></video>
        </div>
        <script src="/htdocs/scripts/dash.all.min.js"></script>
        <script>
            (function(){
                // var url = "http://dash.edgesuite.net/envivio/EnvivioDash3/manifest.mpd";
                var url = "/media/130/segmented/media.mpd";
                var player = dashjs.MediaPlayer().create();
                player.initialize(document.querySelector("#videoPlayer"), url, true);
            })();
        </script>
	</body>
</html>
